In [1]:
!ls /data/common/trade_data

 import_data_2017_enhanced.parq
 import_data_2018_enhanced.parq
 import_data_2019_enhanced.parq
 import_data_2020_enhanced.parq
'manifestDB - CMDT Codes directory.xlsx'
'manifestDB - Data Fields Description.xlsx'
'manifestDB - Main Coverage Ports Directory.xlsx'
'manifestDB - Packing Unit Description.xlsx'
 raw_import_20152016.parq
 raw_import_2017.parq
 raw_import_2018.parq
 raw_import_2019.parq
 raw_import_2020.parq
 w210_raw_data.ipynb

In [1]:
import pandas as pd
import numpy as np
import re
import dask.dataframe as ddf
from math import nan
import panel as pn
import dask
import dask.dataframe as dd

from dask.diagnostics import ProgressBar
ProgressBar().register()

In [2]:
df_cmdt = pd.read_csv('manifestDB - CMDT Codes directory.csv',  dtype ='str')
df_cmdt.columns = ['RepCMDT', 'CommodityCode', 'CMDTCommodity']

In [3]:
df_cmdt.describe()

       RepCMDT CommodityCode CMDTCommodity
count     4441          4441          4441
unique     126          4441          4432
top       8400        870021   FIBERS, NOS
freq       693             1             2

In [4]:
df_cmdt['CommodityCode'] = df_cmdt['CommodityCode'].astype(str)

In [5]:
df_cmdt_counts = df_cmdt[['CommodityCode', 'CMDTCommodity']]

In [6]:
df_cmdt_counts.head()

  CommodityCode                                      CMDTCommodity
0        000000                                  FAK OR CARGO, NOS
1        000001  REFRIGERATED AND TEMPERATURE CONTROLLED CARGO,...
2        000002                             FREIGHT ALL KINDS, FAK
3        000003                        CARGO IN REFRIGERATION, NOS
4        000004  CONSOLIDATED OR MIXED LOADS OF COMMODITIES,NOS...

In [46]:
df_2017 = dd.read_parquet('import_data_2017_enhanced.parq')
df_2017.head()
print(df_2017.columns)

[########################################] | 100% Completed |  2.6s
Index(['BookingNumber', 'BOLNumber', 'Shipper', 'ShipperAddress', 'Consignee',
       'ConsigneeAddress', 'TwentyFeetContainerCount',
       'FortyFeetContainerCount', 'TrunkVVD', 'CarrierVesselName',
       'PlaceOfReceipt', 'PortOfLoading', 'PortOfDischarge',
       'FinalDeliveryPort', 'CargoWeightKgs', 'CargoVolumeCubicMeters',
       'NumberOfPackages', 'PackingUnit', 'CommodityRepCode', 'CommodityCode',
       'CommodityDescription', 'CustomsDescription', 'FreightTerm',
       'FreightForwarderName', 'NotifyPartyName', 'NotifyPartyAddress',
       'AlsoNotifyOtherName', 'ExportName', 'TrunkPOL', 'TrunkPOD',
       'BookingPartyPhoneNumber', 'BookingPartyEmail',
       'ShippingInstructorPhoneNumber', 'ShippingInstructorEmail',
       'SailingDateOfVessel', 'ShipmentRevenueWeek', 'ActivityTEU',
       'ActivityFEU', 'EmptyContainersPickUpLocation',
       'PlaceOfReceipt_Latitude', 'PlaceOfReceipt_Longitude',
       'PortOfLoading_Latitude', 'PortOfLoading_Longitude',
       'PortOfDischarge_Latitude', 'PortOfDischarge_Longitude',
       'FinalDeliveryPort_Latitude', 'FinalDeliveryPort_Longitude',
       'SailingDate', 'SailingDateYear', 'SailingDateMonth'],
      dtype='object')

In [52]:
df_2017['CommodityCode'] = df_2017['CommodityCode'].astype(str)

In [56]:
df_2017.merge(df_cmdt, how='left', on='CommodityCode').head()

[########################################] | 100% Completed |  4.8s

,BookingNumber,BOLNumber,Shipper,ShipperAddress,Consignee,ConsigneeAddress,TwentyFeetContainerCount,FortyFeetContainerCount,TrunkVVD,CarrierVesselName,...,PortOfDischarge_Latitude,PortOfDischarge_Longitude,FinalDeliveryPort_Latitude,FinalDeliveryPort_Longitude,SailingDate,SailingDateYear,SailingDateMonth,RepCMDT,CMDTCommodity,CommodityCodeSTR
0,BKK717427400,BKK717427400,THAI UNION FROZEN PRODUCTS PUBLIC COMPANY LIMITED,"979/12,M FLOOR,SM TOWER\nPHAHOLYOTHIN ROAD,SAM...","TO THE ORDER OF BANK OF AMERICA,N.A.","450 B STREET,SUITE 430\nSAN DIEGO,CA 92101-890...",0.0,5.0,ANTY0003W,AL ABDALI,...,32.080926,-81.091177,32.080926,-81.091177,2017-01-05 16:45:00,2017,1,NaN,NaN,NaN
1,BKK717427401,BKK717427401,THAI UNION FROZEN PRODUCTS PUBLIC COMPANY LIMITED,"979/12,M FLOOR,SM TOWER\nPHAHOLYOTHIN ROAD,SAM...","TO THE ORDER OF BANK OF AMERICA,N.A.","450 B STREET,SUITE 430\nSAN DIEGO,CA 92101-890...",0.0,5.0,ANTY0003W,AL ABDALI,...,32.080926,-81.091177,32.080926,-81.091177,2017-01-05 16:45:00,2017,1,NaN,NaN,NaN
2,BKK717427402,BKK717427402,THAI UNION FROZEN PRODUCTS PUBLIC COMPANY LIMITED,"979/12,M FLOOR,SM TOWER\nPHAHOLYOTHIN ROAD,SAM...","TO THE ORDER OF BANK OF AMERICA,N.A.","450 B STREET,SUITE 430\nSAN DIEGO,CA 92101-890...",0.0,5.0,ANTY0003W,AL ABDALI,...,32.080926,-81.091177,32.080926,-81.091177,2017-01-05 16:45:00,2017,1,NaN,NaN,NaN
3,BKK718896200,BKK718896200,"OKEANOS FOOD CO.,LTD.","103 NONSEE RD.,CHONGNONSEE,\nYANNAWA,BANGKOK 1...",TO ORDER OF BANK OF AMERICA N.A,"450 B STREET, SUITE 430\nSAN DIEGO,CA 92101 U....",0.0,1.0,CNAG0061E,COSCO AQABA,...,40.712728,-74.006015,38.718342,-95.081635,2017-01-05 16:45:00,2017,1,1600,"FROZEN SEAFOOD, NOS",160001
4,BKK716997200,BKK716997200W,"CHIANGMAI FROZEN FOODS PUBLIC CO.,LTD.","149/34 SOI ANGLO PLAZA,\nSURAWONGSE ROAD,BANGK...",NEW YORK MUTUAL TRADING INC.,"77 METRO WAY,SECAUCUS,NJ 07094\nTEL:(201)933-9...",0.0,1.0,COHA0022E,COSCO AQABA,...,40.712728,-74.006015,40.712728,-74.006015,2017-01-05 16:45:00,2017,1,NaN,NaN,NaN